.button {
    background-color: $green;
    cursor: pointer;
    padding: 0.5rem 0.5rem ;
    width: 12rem;
    margin: 2rem auto;
    outline: none;
    border: none;
    border-radius: .2rem;
    color: $white;
    text-align: center;
    text-decoration: none;

    &:hover{
        filter: brightness(105%);
    }
}