.greengrid {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-gap: $s*1.2;
  grid-template-columns: repeat(auto-fit, minmax($s*10, 1fr));
  &__box{
    width: 100%;
    max-width: 90%;
    height: auto;
    background: $white;
    // outline: 1px solid red;
    // box: vertical space-between middle;
    justify-content: center;
    @include from(lg){
      max-width: $s*12;
    }
    &__title{
      color: $gray-600;
      font-size: 1rem;
      text-align: center;
      margin: 0;
      padding:0 ;
    }
    &__item {
      // position: relative;
      // background-color: green;
      // box: vertical space-between middle;
      justify-content: center;
      text-decoration: none;
      padding: $s*2;
      border-radius: 0px;
      background-size: 75% 75%;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all $fast ease-in-out;
      // overflow: hidden;
      width: 70%;
      height: $s*8;
      // @include from(lg){
      // max-width: $s*12;
      // }
      // >div:nth-child(2) {
      //   box: horizontal space-between;
      //   margin-bottom: $s*7;
      //   z-index: 1;
      //   overflow: hidden;
      // }

      // time,
      // span {
      //   box: horizontal middle;
      //   color: $white;
      // }

      // svg {
      //   size: $s;
      //   margin-right: $q;
      // }
      
    }
    a {
      text-decoration: none;
    }
    &:hover {
      transform: scale(0.96);
      filter:drop-shadow(8px 8px 10px $gray-200);
      // overflow: hidden;
      z-index: 2;
      text-decoration: none;
      // max-width: 100%;
      transition: all $fast ease-in-out;
    }
  }
}