.header {
  display: none;
  padding: $s 0;
  width: 15rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  border-right: 1px solid $gray-400;
  z-index: 2;
  // max-width: 16rem;

  
  @include from(lg) {
    display: block;
    box: horizontal left;
  }


  .logo {
    color: $gray-400;
    padding: $h;
    width: 250px;
    height: 250px;
  //   background: red;
 }

  &--reverse {
    flex-direction: row-reverse;
  }
}