.lightboxevent {
    display: none;
    position: fixed;
    z-index: 3;
    width: 100%;
    margin-left: 0%;
    height: auto;
    min-height: 100%;
    text-align: left;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.85);
    @include from(lg){
      width: 78%;
      margin-left: 22%;
    }
    ::-webkit-scrollbar {
      width: 10px;
      // direction: ltr;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: $green; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    img {
      width: 80%;
      height: auto;
      overflow: hidden;
      margin-left:10%;
      object-fit: cover;  
    }
  }
  
  .lightboxevent a { 
    color: $white;
    text-decoration: none; 
  }
  
  .lightboxeventimg {
    height: 35vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% ;
    
    
    @include from(lg){
      height: 35vh;
    }
    // @include from(ms){
    //   height: 200px;
    // }
  }
  .lightboxeventtext {
    height: 65vh;
    min-height: 300px;
    // max-height: 50%;
    width: 90%;
    margin: 0 2rem 0 0;
    padding: 0 5%;
    // background: red;
    // margin-left:22%;
    color: white;
    font-size: 0.7rem;
    // border-bottom: 1px solid white;
    // padding: 0 10px;
    // overflow: scroll;
    overflow-y: scroll;
    direction: rtl;

    a:hover { 
      color: $green;
      text-decoration: none; 
    }
   
  @include from(sm){
    font-size: 1rem;
}
}
  .lightboxevent:target {
    display: block;
  }
  
  .lightboxevent .imageevent {
  /*   display: table-cell; */
  /*   vertical-align: middle;  */
  }
  
  .lightboxevent .imageevent img {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); }
  
  .nextevent, .prevevent, .closeevent { display: block; position: fixed; }
  
  .closeevent { 
    width: 30px; 
    height: auto; 
    padding:10px; 
    overflow: hidden; 
    top: 0; right: 0; 
    z-index: 5; cursor: default; 
    background: $gray-500; 
    margin: 65px 20px 0 0; 
    font-size: 0.7rem;
    color: $white; 
    &:hover{
      background: $green;
      color: $white;
    }
    @include from (lg){
      font-size: 1rem;
      width: 50px;
      margin: 10px 20px 0 0;
      color: $white;

    } 
  }
  
  .nextevent, .prevevent { width: 100px; height: 25px; top: 50%; z-index: 10; opacity: 0.7; font-size: 2em; line-height: 25px; text-shadow: 0px 0px 15px rgba(0, 0, 0, 1); }
  
  .prevevent { left: 10px; text-align: left; }
  
  .prevevent::after { content: '\2039'; }
      
  .nextevent { right: 10px; text-align: right; }
  
  .nextevent::before { content: '\203A'; }