.menu {
  
  &__link {
    display: block;
    width: 100%;
    padding: $q*0.7 auto;
    color: $gray-600;
    text-align: center;
    text-decoration: none;
    @include to(lg) { 
      font-size: .85rem;
    }
    &:hover{
      color: $green;
    }
    &--active{
      color:$green;
    }
  }

  @at-root .mobile__panel #{&} {
    box: vertical center;
    margin-bottom: $s*2;
  }
}