.menu {

  &__link {
    display: block;
    width: 100%;
    padding: $q*0.7 auto;
    color: $gray-600;
    text-align: center;
    text-decoration: none;

    @include to(lg) {
      font-size: .85rem;
    }

    &:hover {
      color: $green;
    }

    &--active {
      color: $green;

      &__list {
        color: $green;
        background-color: none;

        @include from(lg) {
          color: white;
          background-color: $green;
        }
      }
    }
  }

  @at-root .mobile__panel #{&} {
    box: vertical center;
    margin-bottom: $s*2;
  }
}

.dropdown {
  // background-color: red;
  width: 100%;
  height: auto;
  text-align: center;
  color: $gray-600;

  button {
    border: none;
    outline: none;
    color: $gray-600;
    cursor: pointer;
    background-color: none;

    @include to(lg) {
      font-size: .85rem;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 75%;
  background-color: rgba($gray-600, 0.5);
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
  color: white;
}

.dropdown-content a {
  color: $white;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: $gray-600;
  color: $green;
}

.dropdown:hover .dropdown-content {
  display: block;
}