<header class="mobile">
  <a href="{{ locale.url }}" class="logo"><img src="{{ config.site.logo}}"/></a>
  <button class="burger">
    <div class="burger__box">
      <div class="burger__inner"></div> 
    </div>
  </button>
</header>
<div class="mobile__panel">
  {% comment %} {% include 'components/search-bar.html' %} {% endcomment %}
  <nav class="menu" role="navigation">
    {% include 'components/menu-items.html' %}
  </nav>
  <p class="slogan center">{{ config.site.slogan }}</p>
  <a class="button caps button--mobile" target="_blank" alt="JOIN US ON FACEBOOK" href="{{ config.social.facebook }}"> join us on facebook</a>
  {% comment %} {% include 'components/locale.html' %} {% endcomment %}
</div>