<div class="card" >
      <div class="card__title">
        <h1>The Jakarta Green List</h1>
        <span>Eat, live, and breathe green. We're making a list of all the green things in Jakarta that we find. </span>
      </div>
      <div class="card__item">
        <div class="card__item__one">
          <img src="https://assets.strikingly.com/static/icons/delicate/58.png" />
          <p><a href="#">Eat Green</a></p>
          <p><span>Green Groceries</span></p>
          <p>Buy your groceries #plasticfree ind organic, natural and home-grown veggies.</p>
        </div>
        <div class="card__item__one">
          <img src="https://assets.strikingly.com/static/icons/delicate/58.png" />
          <p><a href="#">Eat Green</a></p>
          <p><span>Green Groceries</span></p>
          <p>Buy your groceries #plasticfree ind organic, natural and home-grown veggies.</p>
        </div>
        <div class="card__item__one">
          <img src="https://assets.strikingly.com/static/icons/delicate/58.png" />
          <p><a href="#">Eat Green</a></p>
          <p><span>Green Groceries</span></p>
          <p>Buy your groceries #plasticfree ind organic, natural and home-grown veggies.</p>
        </div>
        <div class="card__item__one">
          <img src="https://assets.strikingly.com/static/icons/delicate/58.png" />
          <p><a href="#">Eat Green</a></p>
          <p><span>Green Groceries</span></p>
          <p>Buy your groceries #plasticfree ind organic, natural and home-grown veggies.</p>
        </div>
        <div class="card__item__one">
          <img src="https://assets.strikingly.com/static/icons/delicate/58.png" />
          <p><a href="#">Eat Green</a></p>
          <p><span>Green Groceries</span></p>
          <p>Buy your groceries #plasticfree ind organic, natural and home-grown veggies.</p>
        </div>
        <div class="card__item__one">
          <img src="https://assets.strikingly.com/static/icons/delicate/58.png" />
          <p><a href="#">Eat Green</a></p>
          <p><span>Green Groceries</span></p>
          <p>Buy your groceries #plasticfree ind organic, natural and home-grown veggies.</p>
        </div>
    </div>