<div class="card">
  <div class="card__title">
    <h1>The Jakarta Green List</h1>
  <p>Eat, live, and breathe green. We're making a list of all the green things in Jakarta that we find.</p>
  </div>
  <div class="full-wrap">
  <div class="invi-wrap">
    <a href="{{ item.url }}/eatgreen/" class="simple">
    <div class="ze-card">
      <div class="ze-title">Eat Green</div>
      <div class="ze-description">Green Groceries: Buy your groceries #plasticfree. Find organic, natural and home-grown veggies.</div>
      <div class="ze-img-w" style="background-image: url('{{ cardimageone }}');"></div>
    </div>
    </a>
  </div>

  <div class="invi-wrap">
    <a href="{{ item.url }}/shopgreen/" class="simple">
      <div class="ze-card">
        <div class="ze-title">Shop Green</div>
        <div class="ze-description">Earth conscious consumers: Environmentally-friendly products for everything from home cleaning, fashion, personal hygiene, and more.</div>
        <div class="ze-img-w" style="background-image: url('{{ cardimagetwo }}');"></div>
      </div>
    </a>
  </div>
  
  <div class="invi-wrap">
    <a href="{{ item.url }}/greenleisure/" class="simple">
      <div class="ze-card">
        <div class="ze-title">Green Leisure</div>
        <div class="ze-description">Family-friendly fun with nature: Parks, holiday spots, places to stay, green spaces in the city</div>
        <div class="ze-img-w" style="background-image: url('{{ cardimagethree }}');"></div>
      </div>
    </a>
  </div>

  <div class="invi-wrap">
    <div class="ze-card">
      <div class="ze-title">Recycling & Composting</div>
      <div class="ze-description">Responsible waste disposal: The people and places that give second life to your household paper, plastic, glass, batteries etc.</div>
      <div class="ze-img-w" style="background-image: url('{{ cardimagefour }}');">    </div>
    </div>
  </div>

  <div class="invi-wrap">
    <div class="ze-card">
      <div class="ze-title">Dine Green</div>
      <div class="ze-description">Restaurants & Cafes: Vegan, vegetarian, organic and #plasticfree options</div>
      <div class="ze-img-w" style="background-image: url('{{ cardimagefive }}');">    </div>
    </div>
  </div>
  
  <div class="invi-wrap">
    <div class="ze-card">
      <div class="ze-title">Green Partners</div>
      <div class="ze-description">Organisations, Campaigns and Networks: Connect with organisations making a difference for an environmentally sustainable future</div>
      <div class="ze-img-w" style="background-image: url('{{ cardimagesix }}');">    </div>
    </div>
  </div>
</div>
</div>