<div class="greengrid">
  {% for dinegreen in collections.dinegreen %} 
      <div class="greengrid__box">
        <a href="#{{ dinegreen.data.number }}" >
        <div class="greengrid__box__item"  style="background-image: url({{ dinegreen.data.image | getImageUrl: 400 }})">
        </div>
        <p class="greengrid__box__title">{{ dinegreen.data.title }}</p>
        </a>
      </div>
      <div class="lightboxevent" id="{{ dinegreen.data.number }}">
        <div class="lightboxeventimg" style="background-image: url('{{ dinegreen.data.lightbox }}')"></div>
          <div class="lightboxeventtext">
           <h1>{{ dinegreen.data.title }}</h1>
            <p><strong>{{ dinegreen.data.titledescription }}</strong></p>
            {{ dinegreen.data.content }} 
            <p> {{ dinegreen.data.webiste }} </p>
            <p> {{ dinegreen.data.phone }} </p>
           </div>
          <a href="#" class="closeevent">Close</a>
          
      </div>
    {% comment %} {% endif %} {% endcomment %}
  {% endfor %}
</div> 