<div class="greengrid">
  {% for greenleisure in collections.greenleisure %} 
      <div class="greengrid__box">
        <a href="#{{ greenleisure.data.number }}" >
        <div class="greengrid__box__item"  style="background-image: url({{ greenleisure.data.image | getImageUrl: 400 }})">
        </div>
        <p class="greengrid__box__title">{{ greenleisure.data.title }}</p>
        </a>
      </div>
      <div class="lightboxevent" id="{{ greenleisure.data.number }}">
        <div class="lightboxeventimg" style="background-image: url('{{ greenleisure.data.banner }}')"></div>
          <div class="lightboxeventtext">
            <div class="lightboxeventtext__newdirection">
              <h1>{{ greenleisure.data.title }}</h1>
              <p><strong>{{ greenleisure.data.titledescription }}</strong></p>
              {{ greenleisure.data.content }} 
              <p> {{ greenleisure.data.webiste }} </p>
              <p> {{ greenleisure.data.phone }} </p>
            </div>
          </div>
          <a href="#" class="closeevent">Close</a>
          
      </div>
  {% endfor %}
</div> 