<div class="greengrid">
  {% for greenpartner in collections.greenpartner %} 
      <div class="greengrid__box">
        <a href="#{{ greenpartner.data.number }}" >
        <div class="greengrid__box__item"  style="background-image: url({{ greenpartner.data.image | getImageUrl: 400 }})">
        </div>
        <p class="greengrid__box__title">{{ greenpartner.data.title }}</p>
        </a>
      </div>
      <div class="lightboxevent" id="{{ greenpartner.data.number }}">
        <div class="lightboxeventimg" style="background-image: url('{{ greenpartner.data.banner }}')"></div>
          <div class="lightboxeventtext">
            <div class="lightboxeventtext__newdirection">
              <h1>{{ greenpartner.data.title }}</h1>
              <p><strong>{{ greenpartner.data.titledescription }}</strong></p>
              {{ greenpartner.data.content }} 
              <p><a href="{{ greenpartner.data.url }}" target="_blank"> {{ greenpartner.data.website }} </a> 
              <a href="{{ greenpartner.data.instagramurl }}" target="_blank"> {{ greenpartner.data.instagram }} </a>
              {{ greenpartner.data.address }} {{ greenpartner.data.contact }} {{ greenpartner.data.email }} {{ greenpartner.data.extra }} </p>
            </div>
          </div>
          <a href="#" class="closeevent">Close</a>
      </div>
  {% endfor %}
</div> 