<div class="greengrid">
  {% for eatgreen in collections.eatgreen %} 
      <div class="greengrid__box">
        <a href="#{{ eatgreen.data.number }}" >
        <div class="greengrid__box__item"  style="background-image: url({{ eatgreen.data.image | getImageUrl: 400 }})">
        </div>
        <p class="greengrid__box__title">{{ eatgreen.data.title }}</p>
        </a>
      </div>
      <div class="lightboxevent" id="{{ eatgreen.data.number }}">
        <div class="lightboxeventimg" style="background-image: url('{{ eatgreen.data.banner }}')"></div>
          <div class="lightboxeventtext"> 
            <h1>{{ eatgreen.data.title }}</h1>
            <p><strong>{{ eatgreen.data.titledescription }}</strong></p>
            {{ eatgreen.data.content }} 
            <p><a href="{{ eatgreen.data.url }}" target="_blank"> {{ eatgreen.data.website }} </a></p>
            <p> {{ eatgreen.data.phone }} </p>
          </div>
          <a href="#" class="closeevent">Close</a>
      </div>
  {% endfor %}
</div> 