<div class="grid">
    {% for eatgreen in collection.eatgreen %}
    <a class="grid__item" href="#{{ eatgreen.data.url }}" style="background-image: url({{ eatgreen.data.image | getImageUrl: 400 }})">
    <h4 class="h2 white">{{ eatgreen.data.title }}</h4>
      </a>
      {% comment %} <div class="lightboxevent" id="{{ event.data.number }}">
        <div class="lightboxeventimg" style="background-image: url(' {{event.data.lightbox}} ')"></div>
          <div class="lightboxeventtext"> {{ event.data.lightboxtext }} </div>
          <a href="#" class="closeevent">Close</a> {% endcomment %}
      </div>
    {% endif %}
  {% endfor %}
</div>