<p class="greentitle"><strong>Recycling</strong> is the process of converting waste materials into new materials and objects. It can prevent the waste of potentially useful materials and reduce the consumption of fresh raw materials, thereby reducing: energy usage, air pollution (from incineration), and water pollution (from landfilling).</p>  
<div class="greengrid">
  {% for recycling in collections.recycling %} 
      <div class="greengrid__box">
        <a href="#{{ recycling.data.number }}" >
        <div class="greengrid__box__item"  style="background-image: url({{ recycling.data.image | getImageUrl: 400 }})">
        </div>
        <p class="greengrid__box__title">{{ recycling.data.title }}</p>
        </a>
      </div>
      <div class="lightboxevent" id="{{ recycling.data.number }}">
        <div class="lightboxeventimg" style="background-image: url('{{ recycling.data.banner }}')"></div>
          <div class="lightboxeventtext">
            <div class="lightboxeventtext__newdirection">
              <h1>{{ recycling.data.title }}</h1>
              <p><strong>{{ recycling.data.titledescription }}</strong></p>
              {{ recycling.data.content }} 
              <p><a href="{{ recycling.data.url }}" target="_blank"> {{ recycling.data.website }} </a></p>
              <p> {{ recycling.data.phone }} </p>
            </div>
          </div>
          <a href="#" class="closeevent">Close</a>
      </div>
  {% endfor %}
  
</div> 
<br /><br />
<p class="greentitle"><strong>Upcycling </strong>is the process of converting waste materials into new materials and objects. It can prevent the waste of potentially useful materials and reduce the consumption of fresh raw materials, thereby reducing: energy usage, air pollution (from incineration), and water pollution (from landfilling).</p>  
<div class="greengrid">
  {% for recycling in collections.upcycling %} 
      <div class="greengrid__box">
        <a href="#{{ recycling.data.number }}" >
        <div class="greengrid__box__item"  style="background-image: url({{ recycling.data.image | getImageUrl: 400 }})">
        </div>
        <p class="greengrid__box__title">{{ recycling.data.title }}</p>
        </a>
      </div>
      <div class="lightboxevent" id="{{ recycling.data.number }}">
        <div class="lightboxeventimg" style="background-image: url('{{ recycling.data.banner }}')"></div>
          <div class="lightboxeventtext">
            <div class="lightboxeventtext__newdirection">
              <h1>{{ recycling.data.title }}</h1>
              <p><strong>{{ recycling.data.titledescription }}</strong></p>
              {{ recycling.data.content }} 
              <p><a href="{{ recycling.data.url }}" target="_blank"> {{ recycling.data.website }} </a> 
              <a href="{{ recycling.data.instagramurl }}" target="_blank"> {{ recycling.data.instagram }} </a>
              {{ recycling.data.address }} {{ recycling.data.contact }} {{ recycling.data.email }} {{ recycling.data.extra }} </p>
            </div>
          </div>
          <a href="#" class="closeevent">Close</a>
      </div>
  {% endfor %}
  
</div> 