<p class="greentitle"><strong>Recycling</strong> {{ config.definition.recycling }} </p>  
<div class="greengrid">
  {% for recycling in collections.recycling %} 
    
    {% include 'components/div/recyclingdiv.html' %}
    
  {% endfor %}
  
</div> 
<br /><br />
<p class="greentitle"><strong>Upcycling </strong> {{ config.definition.upcycling }} </p>  
<div class="greengrid">
  {% for recycling in collections.upcycling %} 

    {% include 'components/div/recyclingdiv.html' %}

  {% endfor %}
  
</div> 
<br /><br />
<p class="greentitle"><strong>Composting </strong> {{ config.definition.composting }} </p>  
<div class="greengrid">
  {% for recycling in collections.composting %} 

    {% include 'components/div/recyclingdiv.html' %}

  {% endfor %}
  
</div> 