{% if langID == 'en' %}
  {% capture action %}{{ config.site.url }}/search{% endcapture %}
{% else %}
  {% capture action %}{{ config.site.url }}/id/search{% endcapture %}
{% endif %}
<div class="sample nine">

  <form id="content" role="form" action="{{ action }}" accept-charset="UTF-8">
    <input type="text" class="search" name="q" autocomplete="off" placeholder="{{ 'search', | t: lang }}">
    <button type="submit" class="btn btn-search">
      {% Icon 'search' %}
    </button>
  </form>
</div>