{% comment %} Bags and Packaging in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
        <input type="checkbox" checked>
        {% Icon 'plus' %}
        <h5><p class="greentitle green" > Bags and Packaging</p></h5>
        <section>
{% comment %} main section {% endcomment %}
            <div class="greengrid">
              {% for shopgreen in collections.bags %} 

              {% include 'components/div/shopdiv.html' %}

              {% endfor %}
            </div> 
        </section>
    </div>
</div>
{% comment %} Straws and Cutlery Section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5><p class="greentitle green" > Straws and Cutlery </p></h5>
      <section>
{% comment %} main section  {% endcomment %}
          <div class="greengrid">
            {% for shopgreen in collections.straws %} 
              
              {% include 'components/div/shopdiv.html' %}

            {% endfor %}
          </div> 
      </section>
    </div>
</div>
{% comment %} BeesWax Wraps {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5><p class="greentitle green" > Beeswax Wraps </p> </h5>
      <section>
{% comment %} main section {% endcomment %}
          <div class="greengrid">
            {% for shopgreen in collections.wraps %} 
              
            {% include 'components/div/shopdiv.html' %}

            {% endfor %}
          </div> 
      </section>
    </div>
</div>
{% comment %} Personal Hygiene and Skincare section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5> <p class="greentitle green" > Personal Hygiene &amp; Skincare </p> </h5>
      <section>
          <div class="greengrid">
            {% for shopgreen in collections.hygiene %} 

            {% include 'components/div/shopdiv.html' %}

            {% endfor %}
          </div> 
      </section>
    </div>
</div>

{% comment %} Menstrual Products Section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
        <input type="checkbox" checked>
        {% Icon 'plus' %}
        <h5><p class="greentitle green" > Menstrual Products </p> </h5>
        <section>
            <div class="greengrid">      
                {% for shopgreen in collections.menstrual %}          

                  {% include 'components/div/shopdiv.html' %}

                {% endfor %}
          </div>  
        </section>
    </div>
</div>
{% comment %} Cleaning Supplies section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5> <p class="greentitle green" > Cleaning Supplies </p> </h5>
      <section>
          <div class="greengrid">
            {% for shopgreen in collections.cleaning %} 

            {% include 'components/div/shopdiv.html' %}

            {% endfor %}
          </div> 
      </section>
    </div>
</div>
{% comment %} Fashion and Clothing section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5> <p class="greentitle green" > Fashion &amp; Clothing </p> </h5>
      <section>
          <div class="greengrid">
            {% for shopgreen in collections.fashion %} 

            {% include 'components/div/shopdiv.html' %}

            {% endfor %}
          </div> 
      </section>
    </div>
</div>
{% comment %} Books, Stationery &amp; Games section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5> <p class="greentitle green" > Books, Stationery &amp; Games </p> </h5>
      <section>
          <div class="greengrid">
            {% for shopgreen in collections.stationery %} 

            {% include 'components/div/shopdiv.html' %}

            {% endfor %}
          </div> 
      </section>
    </div>
</div>
{% comment %} Composters Section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5><p class="greentitle green" > Composters </p></h5>
      <section>
{% comment %} main section {% endcomment %}
          <div class="greengrid">
            {% for shopgreen in collections.composters %} 
  
              {% include 'components/div/shopdiv.html' %}

            {% endfor %}
          </div> 
      </section>
    </div>
</div>