{% comment %} Bags and Packaging in here {% endcomment %}
<div class="accordionshop" >
    <div class="accordionshop__item">
        <input type="checkbox" checked>
        {% Icon 'plus' %}
        <h5><p class="greentitle green" > Bags and Packaging</p></h5>
        <section>
{% comment %} main section {% endcomment %}
            <div class="greengrid">
              {% for shopgreen in collections.bags %} 

              <div class="greengrid__box">
                <a href="#{{ shopgreen.data.number }}" >
                  <div class="greengrid__box__item"  style="background-image: url({{ shopgreen.data.image | getImageUrl: 400 }})">
                  </div>
                  <p class="greengrid__box__title">{{ shopgreen.data.title }}</p>
                  </a>
                </div>
                <div class="lightboxevent" id="{{ shopgreen.data.number }}">
                  <div class="lightboxeventimg" style="background-image: url('{{ shopgreen.data.banner }}')"></div>
                    <div class="lightboxeventtext"> 
                      <div class="lightboxeventtext__newdirection">
                        <h1>{{ shopgreen.data.title }}</h1>
                        <p><strong>{{ shopgreen.data.titledescription }}</strong></p>
                        {{ shopgreen.data.content }} 
                        <p><a href="{{ shopgreen.data.url }}" target="_blank"> {{ shopgreen.data.website }} </a> 
                        <a href="{{ shopgreen.data.instagramurl }}" target="_blank"> {{ shopgreen.data.instagram }} </a>
                        {{ shopgreen.data.address }} {{ shopgreen.data.contact }} {{ shopgreen.data.email }} {{ shopgreen.data.extra }}</p>
                      </div>
                    </div>
                    <a href="#" class="closeevent">Close</a>
                  </div>

              {% endfor %}
            </div> 
        </section>
    </div>
</div>
{% comment %} Straws and Cutlery Section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5><p class="greentitle green" > Straws and Cutlery </p></h5>
      <section>
{% comment %} main section  {% endcomment %}
          <div class="greengrid">
            {% for shopgreen in collections.straws %} 
              
              <div class="greengrid__box">
                <a href="#{{ shopgreen.data.number }}" >
                  <div class="greengrid__box__item"  style="background-image: url({{ shopgreen.data.image | getImageUrl: 400 }})">
                  </div>
                  <p class="greengrid__box__title">{{ shopgreen.data.title }}</p>
                  </a>
                </div>
                <div class="lightboxevent" id="{{ shopgreen.data.number }}">
                  <div class="lightboxeventimg" style="background-image: url('{{ shopgreen.data.banner }}')"></div>
                    <div class="lightboxeventtext"> 
                      <div class="lightboxeventtext__newdirection">
                        <h1>{{ shopgreen.data.title }}</h1>
                        <p><strong>{{ shopgreen.data.titledescription }}</strong></p>
                        {{ shopgreen.data.content }} 
                        <p><a href="{{ shopgreen.data.url }}" target="_blank"> {{ shopgreen.data.website }} </a> 
                        <a href="{{ shopgreen.data.instagramurl }}" target="_blank"> {{ shopgreen.data.instagram }} </a>
                        {{ shopgreen.data.address }} {{ shopgreen.data.contact }} {{ shopgreen.data.email }} {{ shopgreen.data.extra }}</p>
                      </div>
                    </div>
                    <a href="#" class="closeevent">Close</a>
                  </div>

            {% endfor %}
          </div> 
      </section>
    </div>
</div>

{% comment %} Beeswas wraps in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
        <input type="checkbox" checked>
        {% Icon 'plus' %}
        <h5><p class="greentitle green" > Beeswax wraps</p></h5>
        <section>
{% comment %} main section {% endcomment %}
            <div class="greengrid">
              {% for shopgreen in collections.wraps %} 

              <div class="greengrid__box">
                <a href="#{{ shopgreen.data.number }}" >
                  <div class="greengrid__box__item"  style="background-image: url({{ shopgreen.data.image | getImageUrl: 400 }})">
                  </div>
                  <p class="greengrid__box__title">{{ shopgreen.data.title }}</p>
                  </a>
                </div>
                <div class="lightboxevent" id="{{ shopgreen.data.number }}">
                  <div class="lightboxeventimg" style="background-image: url('{{ shopgreen.data.banner }}')"></div>
                    <div class="lightboxeventtext"> 
                      <div class="lightboxeventtext__newdirection">
                        <h1>{{ shopgreen.data.title }}</h1>
                        <p><strong>{{ shopgreen.data.titledescription }}</strong></p>
                        {{ shopgreen.data.content }} 
                        <p><a href="{{ shopgreen.data.url }}" target="_blank"> {{ shopgreen.data.website }} </a> 
                        <a href="{{ shopgreen.data.instagramurl }}" target="_blank"> {{ shopgreen.data.instagram }} </a>
                        {{ shopgreen.data.address }} {{ shopgreen.data.contact }} {{ shopgreen.data.email }} {{ shopgreen.data.extra }}</p>
                      </div>
                    </div>
                    <a href="#" class="closeevent">Close</a>
                  </div>

              {% endfor %}
            </div> 
        </section>
    </div>
</div>

{% comment %} Personal Hygiene and Skincare section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5> <p class="greentitle green" > Personal Hygiene &amp; Skincare </p> </h5>
      <section>
          <div class="greengrid">
            {% for shopgreen in collections.hygiene %} 

            <div class="greengrid__box">
                <a href="#{{ shopgreen.data.number }}" >
                  <div class="greengrid__box__item"  style="background-image: url({{ shopgreen.data.image | getImageUrl: 400 }})">
                  </div>
                  <p class="greengrid__box__title">{{ shopgreen.data.title }}</p>
                  </a>
                </div>
                <div class="lightboxevent" id="{{ shopgreen.data.number }}">
                  <div class="lightboxeventimg" style="background-image: url('{{ shopgreen.data.banner }}')"></div>
                    <div class="lightboxeventtext"> 
                      <div class="lightboxeventtext__newdirection">
                        <h1>{{ shopgreen.data.title }}</h1>
                        <p><strong>{{ shopgreen.data.titledescription }}</strong></p>
                        {{ shopgreen.data.content }} 
                        <p><a href="{{ shopgreen.data.url }}" target="_blank"> {{ shopgreen.data.website }} </a> 
                        <a href="{{ shopgreen.data.instagramurl }}" target="_blank"> {{ shopgreen.data.instagram }} </a>
                        {{ shopgreen.data.address }} {{ shopgreen.data.contact }} {{ shopgreen.data.email }} {{ shopgreen.data.extra }}</p>
                      </div>
                    </div>
                    <a href="#" class="closeevent">Close</a>
                  </div>

            {% endfor %}
          </div> 
      </section>
    </div>
</div>

{% comment %} Menstrual Products Section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
        <input type="checkbox" checked>
        {% Icon 'plus' %}
        <h5><p class="greentitle green" > Menstrual Products </p> </h5>
        <section>
            <div class="greengrid">      
                {% for shopgreen in collections.menstrual %}          

                  <div class="greengrid__box">
                <a href="#{{ shopgreen.data.number }}" >
                  <div class="greengrid__box__item"  style="background-image: url({{ shopgreen.data.image | getImageUrl: 400 }})">
                  </div>
                  <p class="greengrid__box__title">{{ shopgreen.data.title }}</p>
                  </a>
                </div>
                <div class="lightboxevent" id="{{ shopgreen.data.number }}">
                  <div class="lightboxeventimg" style="background-image: url('{{ shopgreen.data.banner }}')"></div>
                    <div class="lightboxeventtext"> 
                      <div class="lightboxeventtext__newdirection">
                        <h1>{{ shopgreen.data.title }}</h1>
                        <p><strong>{{ shopgreen.data.titledescription }}</strong></p>
                        {{ shopgreen.data.content }} 
                        <p><a href="{{ shopgreen.data.url }}" target="_blank"> {{ shopgreen.data.website }} </a> 
                        <a href="{{ shopgreen.data.instagramurl }}" target="_blank"> {{ shopgreen.data.instagram }} </a>
                        {{ shopgreen.data.address }} {{ shopgreen.data.contact }} {{ shopgreen.data.email }} {{ shopgreen.data.extra }}</p>
                      </div>
                    </div>
                    <a href="#" class="closeevent">Close</a>
                  </div>

                {% endfor %}
          </div>  
        </section>
    </div>
</div>
{% comment %} Cleaning Supplies section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5> <p class="greentitle green" > Cleaning Supplies </p> </h5>
      <section>
          <div class="greengrid">
            {% for shopgreen in collections.cleaning %} 

            <div class="greengrid__box">
                <a href="#{{ shopgreen.data.number }}" >
                  <div class="greengrid__box__item"  style="background-image: url({{ shopgreen.data.image | getImageUrl: 400 }})">
                  </div>
                  <p class="greengrid__box__title">{{ shopgreen.data.title }}</p>
                  </a>
                </div>
                <div class="lightboxevent" id="{{ shopgreen.data.number }}">
                  <div class="lightboxeventimg" style="background-image: url('{{ shopgreen.data.banner }}')"></div>
                    <div class="lightboxeventtext"> 
                      <div class="lightboxeventtext__newdirection">
                        <h1>{{ shopgreen.data.title }}</h1>
                        <p><strong>{{ shopgreen.data.titledescription }}</strong></p>
                        {{ shopgreen.data.content }} 
                        <p><a href="{{ shopgreen.data.url }}" target="_blank"> {{ shopgreen.data.website }} </a> 
                        <a href="{{ shopgreen.data.instagramurl }}" target="_blank"> {{ shopgreen.data.instagram }} </a>
                        {{ shopgreen.data.address }} {{ shopgreen.data.contact }} {{ shopgreen.data.email }} {{ shopgreen.data.extra }}</p>
                      </div>
                    </div>
                    <a href="#" class="closeevent">Close</a>
                  </div>

            {% endfor %}
          </div> 
      </section>
    </div>
</div>
{% comment %} Fashion and Clothing section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5> <p class="greentitle green" > Fashion &amp; Clothing </p> </h5>
      <section>
          <div class="greengrid">
            {% for shopgreen in collections.fashion %} 

            <div class="greengrid__box">
                <a href="#{{ shopgreen.data.number }}" >
                  <div class="greengrid__box__item"  style="background-image: url({{ shopgreen.data.image | getImageUrl: 400 }})">
                  </div>
                  <p class="greengrid__box__title">{{ shopgreen.data.title }}</p>
                  </a>
                </div>
                <div class="lightboxevent" id="{{ shopgreen.data.number }}">
                  <div class="lightboxeventimg" style="background-image: url('{{ shopgreen.data.banner }}')"></div>
                    <div class="lightboxeventtext"> 
                      <div class="lightboxeventtext__newdirection">
                        <h1>{{ shopgreen.data.title }}</h1>
                        <p><strong>{{ shopgreen.data.titledescription }}</strong></p>
                        {{ shopgreen.data.content }} 
                        <p><a href="{{ shopgreen.data.url }}" target="_blank"> {{ shopgreen.data.website }} </a> 
                        <a href="{{ shopgreen.data.instagramurl }}" target="_blank"> {{ shopgreen.data.instagram }} </a>
                        {{ shopgreen.data.address }} {{ shopgreen.data.contact }} {{ shopgreen.data.email }} {{ shopgreen.data.extra }}</p>
                      </div>
                    </div>
                    <a href="#" class="closeevent">Close</a>
                  </div>

            {% endfor %}
          </div> 
      </section>
    </div>
</div>
{% comment %} Books, Stationery &amp; Games section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5> <p class="greentitle green" > Books, Stationery &amp; Games </p> </h5>
      <section>
          <div class="greengrid">
            {% for shopgreen in collections.stationery %} 

            <div class="greengrid__box">
                <a href="#{{ shopgreen.data.number }}" >
                  <div class="greengrid__box__item"  style="background-image: url({{ shopgreen.data.image | getImageUrl: 400 }})">
                  </div>
                  <p class="greengrid__box__title">{{ shopgreen.data.title }}</p>
                  </a>
                </div>
                <div class="lightboxevent" id="{{ shopgreen.data.number }}">
                  <div class="lightboxeventimg" style="background-image: url('{{ shopgreen.data.banner }}')"></div>
                    <div class="lightboxeventtext"> 
                      <div class="lightboxeventtext__newdirection">
                        <h1>{{ shopgreen.data.title }}</h1>
                        <p><strong>{{ shopgreen.data.titledescription }}</strong></p>
                        {{ shopgreen.data.content }} 
                        <p><a href="{{ shopgreen.data.url }}" target="_blank"> {{ shopgreen.data.website }} </a> 
                        <a href="{{ shopgreen.data.instagramurl }}" target="_blank"> {{ shopgreen.data.instagram }} </a>
                        {{ shopgreen.data.address }} {{ shopgreen.data.contact }} {{ shopgreen.data.email }} {{ shopgreen.data.extra }}</p>
                      </div>
                    </div>
                    <a href="#" class="closeevent">Close</a>
                  </div>

            {% endfor %}
          </div> 
      </section>
    </div>
</div>
{% comment %} Composters Section in here {% endcomment %}
<div class="accordionshop">
    <div class="accordionshop__item">
      <input type="checkbox" checked>
      {% Icon 'plus' %}
      <h5><p class="greentitle green" > Composters </p></h5>
      <section>
{% comment %} main section {% endcomment %}
          <div class="greengrid">
            {% for shopgreen in collections.composters %} 
  
                <div class="greengrid__box">
                <a href="#{{ shopgreen.data.number }}" >
                  <div class="greengrid__box__item"  style="background-image: url({{ shopgreen.data.image | getImageUrl: 400 }})">
                  </div>
                  <p class="greengrid__box__title">{{ shopgreen.data.title }}</p>
                  </a>
                </div>
                <div class="lightboxevent" id="{{ shopgreen.data.number }}">
                  <div class="lightboxeventimg" style="background-image: url('{{ shopgreen.data.banner }}')"></div>
                    <div class="lightboxeventtext"> 
                      <div class="lightboxeventtext__newdirection">
                        <h1>{{ shopgreen.data.title }}</h1>
                        <p><strong>{{ shopgreen.data.titledescription }}</strong></p>
                        {{ shopgreen.data.content }} 
                        <p><a href="{{ shopgreen.data.url }}" target="_blank"> {{ shopgreen.data.website }} </a> 
                        <a href="{{ shopgreen.data.instagramurl }}" target="_blank"> {{ shopgreen.data.instagram }} </a>
                        {{ shopgreen.data.address }} {{ shopgreen.data.contact }} {{ shopgreen.data.email }} {{ shopgreen.data.extra }}</p>
                      </div>
                    </div>
                    <a href="#" class="closeevent">Close</a>
                  </div>

            {% endfor %}
          </div> 
      </section>
    </div>
</div>