<div class="socialmedia">
    <div class="socialmedia__title">
        <h1>Follow us</h1>
        <p>@GoingGreenInJakarta for news and events</p>
    </div>
    <div class="socialmedia__post">
        <div class="square">
        </div>
        <div class="square square--one" >
        </div>
        <div class="square square--two" >
        </div>
        <div class="square square--three" >
        </div>
        <div class="square square--four">
        </div>
        <div class="square square--two">
        </div>
        <div class="square square--three">
        </div>
        <div class="square square--four">
        </div>
        <div class="square">
        </div>
        <div class="square square--one">
        </div>
        <div class="square square--two">
        </div>
        <div class="square square--three">
        </div>
    </div>
</div>