<div class="socialmedia">
    <div class="socialmedia__title">
        <h1>Follow us</h1>
        <p>@GoingGreenInJakarta for news and events</p>
    </div>
    <div class="socialmedia__post">
        <div class="square">
        </div>
        <div class="square">
        </div>
        <div class="square">
        </div>
        <div class="square">
        </div>
        <div class="square">
        </div>
        <div class="square">
        </div>
        <div class="square">
        </div>
        <div class="square">
        </div>
        <div class="square">
        </div>
        <div class="square">
        </div>
        <div class="square">
        </div>
        <div class="square">
        </div>
    </div>
</div>