{% layout 'includes/layout.html' %}
{% include 'includes/variables.html' %}

{% block content %}
  <div class="container">
  {% include 'components/banner.html' %}
  </div>
    <div class="content">
    <div class="container container--text">
      {% comment %} <span class="italic faint">{{ date | formatDate }}</span> {% endcomment %}
      
      {% comment %} {% include 'components/social-share.html' %} {% endcomment %}
        <h1>{{ title }}</h1>
        {{ content }}

    </div>
    {% if gallery %}
      {% include 'components/gallery.html' %}
    {% endif %}
  </div>
{% endblock %}