{% layout 'includes/layout.html' %}
{% include 'includes/variables.html' %}

{% block content %}
  <div class="banner" style="background-image: url('{{ banner }}')">  
    <div class="tilte">
      <h2 class="green right">{{ titlebanner }}</h2>
      <p class="white right">{{ titleunder }}</p>
    </div>
  </div>
  <div class="middle">
    <div class="middle__img">
      <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/v1/1378019/artem-bali-583964-unsplash_y1qjzr.jpg" />
    </div>
    <div class="middle__text">
      <h2>We are a Community</h2>
      <p>...of over a thousand people making positive changes to our lifestyles to reduce plastic, recycle and generally live more environmentally friendly in this city.</p>
      <h4>OUR GOALS</h4>
      <ul>
        <li>Helping more households dispose of waste responsibly by linking them to recyclers or upcyclers.</li>
        <li>Helping more households dispose of waste responsibly by linking them to recyclers or upcyclers.</li>
        <li>Helping more households dispose of waste responsibly by linking them to recyclers or upcyclers.</li>
      </ul>
    </div>
  </div>  
  <div class="container">
    {{ content }}
  </div>
{% endblock %}