{% layout 'includes/layout.html' %}
{% include 'includes/variables.html' %}

{% block content %}
  <div class="container">
  {% include 'components/banner.html' %}
  </div>
    <div class="content">
    <h1>{{ title }}</h1> 
      {{ content }}  
    </div>
    {% case page.fileSlug %}
      {% when 'faq' %}
        {% include 'components/accordion.html' %}
        {% include 'components/socialmediahome.html' %}
      {% when 'events' %}
        {% include 'components/grid.html' %}
    {% endcase %}
  {% if gallery %}
      {% include 'components/gallery.html' %}
    {% endif %}
  </div>
{% endblock %}