{% layout 'includes/layout.html' %}
{% include 'includes/variables.html' %}

{% block content %}
  <div class="container">
  <div class="banner" style="background-image: url('{{ banner }}')">  
    <div class="tilte">
      <h1 class="green right">{{ titlebanner }}</h1>
      <p class="white right">{{ titleunder }}</p>
    </div>
  </div>
    <div class="content">
    <h1>{{ title }}</h1> 
      {{ content }}  
    </div>
    {% case page.fileSlug %}
      {% when 'faq' %}
        {% include 'components/accordion.html' %}
      {% when 'events' %}
        {% include 'components/grid.html' %}
    {% endcase %}
  {% if gallery %}
      {% include 'components/gallery.html' %}
    {% endif %}
  {% include 'components/socialmediahome.html' %}
  
  </div>
{% endblock %}