.wrapper {
  position: relative;
  margin-top: $s*4;
}

.container {
  position: relative;
  // max-width: $container-max;
  background-color: $gray-100;
  margin-left: 0;
  width: 100%;

  
  @include from(lg) {
    margin-left: 15rem;
    width: 100%;
    background-color: $gray-200;
      
  }
  


  &--text {
    max-width: $container-text-max;
  }
}