.container {
  // background-color: yellow;
  margin-top: $h*6;
  width: 100%;
  height: auto;


  @include from(lg) {
    width: 100%;
    margin-top: -$h*3 ;
    // background-color: green;  
  }
}
.wrapper {
  margin-top: 0px;
  height: auto;
  width: 100%;
  // background-color: blue;
  @include from(lg) { 
    width: 78%;
    margin-top: 0px;
    margin-left: 22%;
    // background-color: green;  
  }
}